*{
    box-sizing: border-box;
    /*background-color: black;*/
}
/*img {
    border: 3px solid #555;
}*/
.container1{
    background-color: #434347;
    overflow: hidden;
}
.container2{
    background-color: #f4f4f4;
    overflow: hidden;
}
.stCol1{
    width: 400px;
    float: left;
    margin-top: 65px;
   margin-left: 30px;
    margin-right: 25px;
    /*padding: 3px;*/
}


.stCol2{
    width: 50%;
    float: left;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 250px;
    padding: 3px;
}

.theMain{
    width: 60%;
    float:left;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 5%; 
    margin-bottom: 50px;
    padding: 3px;
    font-size: larger;
    background-color: #f4f4f4;
    border: 5px solid #555;
}
.output{
    font-weight: bold;
}
.title{
    font-weight: bold;
    font-size: larger;
}

.anotherTitle{
    margin-left: 10%;
    font-size: x-large;
    font-weight: bolder;
    color:#434347 ;
}

.fincol1{
    width: 20%;
    float: left;
    margin-top: 25px;
    margin-left: 12%;
   /* margin-right: 40px; */
}

.fincol2{
    width: 50%;
    float: left;
    margin-top: 25px;
    margin-right: 12%; 
}
